body {
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

a.toplink { float: right; font-size: medium; color: #671D5B;}

h3 .relation-name {
    padding-left: 12px;
}
.rel-id {
    font-family: monospace;
}

div.description {
    margin-left: 20px;
    margin-top: 16px;
}
div.description p, div.description ul {
    margin-left: 20px;
    padding: 0px;
}

table.fieldlist th {
    vertical-align: top;
}
table.fieldlist td ul {
    margin: 0 0 0 0px;
    list-style: none;
}

span.revchar { padding: 0px 10px; }

article table {
    margin: 10px 0px 10px 20px;
    border-spacing: 0px 10px;
    border-collapse: separate;
    border: none;
}
article{
  border-bottom: 2px solid #671D5B;
}
article table tr, article table th, article table td { border: none; }
article table th {
    font-weight: bold;
    text-align: left;
}
article table td {
    padding: 1px 0px 1px 20px;
}
div.description > ul { list-style: none; }
div.description > ul li { padding: 5px 0px; }

div.highlight { background-color: #F4F4F4 }

.relation-name{
color : #671D5B;
margin-top: 16px;
}

h1, h2, h3, h4,h5,h6, p{
margin : 0;
padding : 0;
}
.heading1{
margin-bottom: 8px;
color : #671D5B;
}
.heading{
color : #671D5B;
margin-top : 8px;
}

.section {
    display: grid;
    grid-template-columns : 25% 70%;
    grid-gap: 30px;
 }
 .toc-items{
 display: none;
 }
 .outline-toggle{margin: 16px 0 16px 0; background-color: #2557A6; color: white;}
.menu-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 45px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2656A6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  background-color: #555;
}

@media screen and (max-width: 799px) {
    body { font-size: small; }
    h2, h3, h4 { margin: 10px 0px; }
    div.description { margin-left: 10px; }
    div.description p, div.description ul { margin-left: 5px; }
    article table { margin: 2px 0px 2px 0px; }
    article table td { padding: 1px 0px 1px 5px; }
    }

    @media (max-width: 500px) {
        nav {
            position: relative;
            margin-top: 100px;
        }
        .title-search {
            display: none;
        }
        .top-header .name {
            padding: 5px 0;
        }
        .top-header .title {
            margin-left: 0;
        }
    }
    @media (min-width: 501px) {
        .menu-icon {
            display: none;
        }
    }
