.sidenav{height: 100%;width: 290px;position: fixed;z-index: 1;top: 0;left: 0;background-color: #F5F5F5;overflow-x: hidden;padding-top: 20px; }
.container {margin-left: 290px;}
.sidenav a {padding: 4px 4px 4px 10px;text-decoration: none;font-size: 12px;color: #010101;background: none;width:100%;text-align: left;cursor: pointer;outline: none;}
.sidenav a:hover, .dropdown-btn:hover {color: #0000FF;}
.dropdown-container {background-color: #F5F5F5;display: none;}
.sidenav>ul{}
.sidenav>ul>li{height: 28px;overflow: hidden;}
.sidenav>ul>li.open{height: auto;}
.pack-up{float: right;margin: 5px 10px 0 0;cursor: pointer;}


