body {
    font-family: sans-serif;
}

a:link { text-decoration: none; }
a:hover { text-decoration: underline; }

h2 { font-size: xx-large; }
h3 { font-size: x-large; }
.rel-id {
    font-family: monospace;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

div.description {
    margin-left: 40px;
}

article table {
    margin: 10px 0px 10px 0px;
    border: none;
}
article table th, article table td {
    border: none;
    padding-top: 10px;
    padding-left: 20px;
}
table.fieldlist th  {
    font-weight: bold;
}
