<div class="head">
   <header>
    <div class="top-header">
        <p class="name">GLOBAL WORDNET ASSOCIATION</p>
        <h3 class="title">Open WordNet Documentation</h3>
    </div>
    <div class="title-search">
       <form class="search-form">
          <input id="input-value" class="search-input" type="text" placeholder="Search relation.." name="search" onkeyup="search()">
          <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</header>
</div>



