<div class="overview">
<h2><a href="#overview"></a>Overview</h2>

<h4 id="overview">What is wordnet? </h4>

<p>Unlike a standard dictionary, which takes the word as its elementary building block, a wordnet is an online lexical reference system which is organized by concepts.</p> 

<p>The basic building block of a wordnet is Synonym set (<strong>Synset</strong>), a group of words that can all refer to the same concept, such as <a href="https://www.luismc.com/omw/ili/concepts/28418"><i>shut</i></a> and <a href="https://www.luismc.com/omw/ili/concepts/28418"><i>close</i></a> or <a href="https://www.luismc.com/omw/ili/concepts/51496"><i>car</i></a> and <a href="https://www.luismc.com/omw/ili/concepts/51496"><i>automobile</i></a>. Words and synsets are linked by means of conceptual-semantic relations in wordnet.</p> 

<p>The core conceptual-semantic relations among synsets are called <strong>Constitutive</strong> relations, such as:</p>

<ul>
	<li>Super-subordinate relation (hypernym and hyponym)</li>
	<li>Part-whole relation (meronym and holonym)</li>
	<li>Semantic contract and similar relation (antonym and synonym)</li>
</ul>

<p>Synsets are connected into a net framework to form the structure of wordnet, you can refer to this document for the details of Constitutive and other types of relations. </p> 

<p>Currently, <a href="https://www.luismc.com/omw/omw/src/pwn/3.0">Princeton Wordnet</a> of English is the most complete and accurate wordnet, and is commonly used as a reference for other wordnets. You can also visit <a href="https://wordnet.princeton.edu/">Princeton Wordnet project homepage</a> to learn more of this wordnet.</p>

<p><a href="https://www.luismc.com/omw/omw">Open Multilingual Wordnet</a> (OMW) is a collection of wordnets in a variety of languages, all linked through the <a href="https://www.luismc.com/omw/ili">Collaborative Interlingual Index</a> (CILI), the goal is to make it easy to use wordnets across multiple languages, you can browse and search for cross-lingual matches in OMW.</p>

<h4>What is Global Wordnet Association? </h4>

<p>The <a href="http://globalwordnet.org/">Global WordNet Association</a> (GWA) is a free, public and non-commercial organization that provides a platform for discussing, sharing and connecting semantic lexicons (wordnets) for all languages in the world. Our goal is to make compatible, linked, open lexical resources useful for both humans and computers.</p>

</div>