<div>
    <h3>References</h3>
    <ul>
      <li>Christiane Fellbaum (ed.) (1998) <i>WordNet: An Electronic
	  Lexical Database</i>, MIT Press
	<ul>
	  <li><a href="https://wordnet.princeton.edu/documentation/">Princeton
	      WordNet Documentation</a></li>
	</ul>
      <li>Piek Vossen (ed.) (1999)
	<br> <a href="https://globalwordnet.github.io/gwadoc/pdf/EWN_general.pdf">EuroWordNet General Document</a></li>
	<li>Maciej Piasecki, Stanisław Szpakowicz, Bartosz Broda
	  (2009)
	  <br> <a href='https://globalwordnet.github.io/gwadoc/pdf/EWN_general.pdf'>A Wordnet from the Ground Up</a>

  <li><a href="https://lr.soh.ntu.edu.sg/omw/omw">Open
            Multilingual WordNet</a></li>
  <li><a href="https://github.com/globalwordnet/schemas">XML format for WordNet LMF</a></li>

    </ul>
</div>
