<div>
    <h3>References</h3>
    <ul>
        <li><a href="https://github.com/globalwordnet/schemas">XML format for WordNet LMF</a></li>
        <li><a href="https://globalwordnet.github.io/gwadoc/pdf/EWN_general.pdf">European WordNet General Document</a></li>
        <li><a href="https://wordnet.princeton.edu/documentation/wngloss7wn">Princeton WordNet Relation Name</a></li>
        <li><a href="https://wordnet.princeton.edu/documentation/wninput5wn">Princeton WordNet Pointer</a></li>
        <li><a href="http://plwordnet.pwr.wroc.pl/wordnet/about">PlWordNet Relation Name</a></li>
        <li><a href="https://lr.soh.ntu.edu.sg/omw/omw">Open Multilingual WordNet Concept</a></li>
    </ul>
</div>
